body{
	background: lightyellow;
	text-align: center;
	width: 100%;
	font-family: "Arial"
}

h1{
	width: 100%;
	background: black;
	color: white;
	padding: 10px 0px 10px 0px;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bolder;
}

#main-header{
	height: 200px;
}

.main-container{
	margin: 0 auto;
	width: 980px;
	height: auto;
}

.first-column{
	margin-top: 20px;
	width: 100%;
	background: white;
	border: ridge 5px black;
}

.second-column{
	margin-top: 20px;
	width: 100%;
	height: 300px;
	background: white;
	border: ridge 5px black;
}

.third-column{
	padding-top: 20px;
	float: left;
	width: 55%;
/*	border: dotted 5px black;
*/ ;
}

.fourth-column{
		padding-top: 20px;

	float: right;
	width: 42%;
/*	border: dotted 5px black;
*/
}

.fifth-column{
	margin-bottom: 10px;
}
